@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 280px) {
  html {
    font-size: 40%;
  }
}
