
@mixin grid($val) {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 3rem;
  }
  

@mixin d-flex($j-s: center, $a-i: center, $f-d: row) {
  display: flex;
  justify-content: $j-s;
  align-items: $a-i;
  flex-direction: $f-d;
}
%f-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}


